.leagues-it {
    box-shadow: 1px 2px 3px var(--green);
    background-color: var(--green-lighter);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 1% 0;
    padding: 0 10px;
    text-decoration: none;
}

.btn-add-league {
    align-self: last baseline;
    width: 280px;
    display: block;
    border: none;
    border-radius: 8px;
    background-color: var(--green-lighter);
    color: var(--black);
    font-size: 26px;
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid var(--green);
}

.error-txt {
    margin-top: 2px;
    font-size: 11px;
    color: var(--black);
}

.input-league-wrap {
    display: inline-flex;
    flex-direction: column;
}

.leagues-popup-h1 {
    margin-bottom: 10px;
}